<div class="translation__container">
  <div class="translation__malayalam">
    <div class="translation__language">Malayalam</div>
    <h1 class="translation__text"> തുറക്കൂ</h1>
    <div class="translation__pronounciation"> tuṟakkū</div>
  </div>

  <div class="translation__english">
    <div class="translation__language">English</div>
    <h2 class="translation__text"> Open it</h2>
  </div>

  <div class="clear-both"></div>
</div>
